In [1]:
import cv2
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import csv

base_path = r"""C:\Users\Aziz"""
dataset_path = base_path+"\data_files\dataset_info_by_date_art.csv"

df = pd.read_csv(dataset_path)
df = df.reset_index(drop=True)  # make sure indexes pair with number of rows
art_HSV = pd.DataFrame(columns=['Hue','Saturation'])

for index, row in df.iterrows():
#     /content/drive/MyDrive/Database/ARC DATABASE/le_blanc/2022-02-21_13-47-58_UTC.jpg
    image = row['full_path'].replace(r'/content/drive/MyDrive',r"C:\Users\Aziz")
    img = cv2.imread(image)
    img_hsv = cv2.cvtColor(img, cv2.COLOR_BGR2HSV)
    saturation = img_hsv[:, :, 1].mean()
    hue = img_hsv[:, :, 0].mean()
    art_HSV.loc[len(art_HSV.index)] = [hue,saturation]

In [11]:
art_HSV.head(10)

         Hue  Saturation
0  21.534362  153.943075
1  52.334783  130.735873
2  31.583697  109.099321
3  87.555771  119.652515
4  59.923330  139.148389
5  60.555976  114.266872
6  39.563981   78.500376
7  36.459392   96.822050
8  80.797676  114.740475
9  67.116192  118.068720

In [3]:
base_path = r"""C:\Users\Aziz"""
dataset_path = base_path+"\data_files\dataset_info_by_date_arc.csv"

df = pd.read_csv(dataset_path)
df = df.reset_index(drop=True)  # make sure indexes pair with number of rows
arc_HSV = pd.DataFrame(columns=['Hue','Saturation'])

for index, row in df.iterrows():
#     /content/drive/MyDrive/Database/ARC DATABASE/le_blanc/2022-02-21_13-47-58_UTC.jpg
    image = row['full_path'].replace(r'/content/drive/MyDrive',r"C:\Users\Aziz")
    img = cv2.imread(image)
    img_hsv = cv2.cvtColor(img, cv2.COLOR_BGR2HSV)
    saturation = img_hsv[:, :, 1].mean()
    hue = img_hsv[:, :, 0].mean()
    arc_HSV.loc[len(arc_HSV.index)] = [hue,saturation]

In [12]:
arc_HSV.head(10)

          Hue  Saturation
0   12.335475  136.705829
1   90.150061  123.811073
2   87.979490   65.092778
3   61.950761   59.766570
4   91.531847   31.206398
5   54.101913   78.919677
6  148.799456  165.281549
7   81.690285   54.948421
8   62.087990   74.358825
9   69.107815   57.784962

In [20]:
arc_HSV.to_csv('Average_hsv_arc.csv')
art_HSV.to_csv('Average_hsv_art.csv')

   Unnamed: 0         Hue  Saturation
0           0   12.335475  136.705829
1           1   90.150061  123.811073
2           2   87.979490   65.092778
3           3   61.950761   59.766570
4           4   91.531847   31.206398
5           5   54.101913   78.919677
6           6  148.799456  165.281549
7           7   81.690285   54.948421
8           8   62.087990   74.358825
9           9   69.107815   57.784962

               H  u  e
S a t u r a t  i  o  n