In [38]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Average_hsv_arc.csv")
df.pop('Unnamed: 0')
df.head()

         Hue  Saturation
0  12.335475  136.705829
1  90.150061  123.811073
2  87.979490   65.092778
3  61.950761   59.766570
4  91.531847   31.206398

In [39]:
df2 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\color_palette_and_hue_contrast_arc.csv")
df2.head()

,dominant_hue_1,dominant_sat_1,dominant_val_1,dominant_hue_2,dominant_sat_2,dominant_val_2,dominant_hue_3,dominant_sat_3,dominant_val_3,hue_contrast_c1_c2,hue_contrast_c1_c3,hue_contrast_c1_c4,hue_contrast_c1_c5,hue_contrast_c2_c3,hue_contrast_c2_c4,hue_contrast_c2_c5,hue_contrast_c3_c4,hue_contrast_c3_c5,hue_contrast_c4_c5,like_rate_segmentation
0,20.000000,62.637363,35.686275,23.265306,21.397380,89.803922,22.105263,80.851064,18.431373,3.265306,2.105263,2.736842,5.000000,1.160043,0.528464,1.734694,0.631579,2.894737,2.263158,0.0
1,359.347826,37.551020,96.078431,358.378378,62.011173,70.196078,54.634146,100.000000,96.470588,0.969448,304.713680,358.867826,7.198293,303.744232,357.898378,6.228846,54.154146,297.515386,351.669533,0.0
2,211.500000,53.571429,87.843137,213.975904,35.319149,92.156863,40.000000,2.912621,40.392157,2.475904,171.500000,141.500000,0.078947,173.975904,143.975904,2.396956,30.000000,171.578947,141.578947,0.0
3,200.000000,1.630435,72.156863,170.000000,38.709677,12.156863,240.000000,4.494382,34.901961,30.000000,40.000000,8.837209,48.571429,70.000000,38.837209,78.571429,31.162791,8.571429,39.734219,0.0
4,217.500000,3.347280,93.725490,213.750000,22.857143,54.901961,207.272727,12.359551,69.803922,3.750000,10.227273,8.558824,15.000000,6.477273,4.808824,11.250000,1.668449,4.772727,6.441176,0.0

In [40]:
df3 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\dataset_info_by_date_arc.csv")
df3

,id,username,full_path,account_created_at,posted_at,days_between,likes,like_rate
0,2778569169971553819,le_blanc,/content/drive/MyDrive/Database/ARC DATABASE/l...,2011-08-14 00:00:00,2022-02-21,3844,2260.662043,0.009483
1,2774931022469536859,le_blanc,/content/drive/MyDrive/Database/ARC DATABASE/l...,2011-08-14 00:00:00,2022-02-16,3839,2260.662043,0.009501
2,2774223415215815054,le_blanc,/content/drive/MyDrive/Database/ARC DATABASE/l...,2011-08-14 00:00:00,2022-02-15,3838,2260.662043,0.009505
3,2773488369429255087,le_blanc,/content/drive/MyDrive/Database/ARC DATABASE/l...,2011-08-14 00:00:00,2022-02-14,3837,2260.662043,0.009509
4,2771304575095955478,le_blanc,/content/drive/MyDrive/Database/ARC DATABASE/l...,2011-08-14 00:00:00,2022-02-11,3834,2260.662043,0.009520
...,...,...,...,...,...,...,...,...
802,1156641832273652754,usrdck,/content/drive/MyDrive/Database/ARC DATABASE/u...,2016-01-02 00:00:00,2016-01-06,4,178.000000,30.605805
803,1156781474679566292,usrdck,/content/drive/MyDrive/Database/ARC DATABASE/u...,2016-01-02 00:00:00,2016-01-06,4,235.000000,40.406541
804,1155760884837461235,usrdck,/content/drive/MyDrive/Database/ARC DATABASE/u...,2016-01-02 00:00:00,2016-01-05,3,77.000000,19.078610
805,1155927107009195899,usrdck,/content/drive/MyDrive/Database/ARC DATABASE/u...,2016-01-02 00:00:00,2016-01-05,3,128.000000,31.715092
806,1155761464951647492,usrdck,/content/drive/MyDrive/Database/ARC DATABASE/u...,2016-01-02 00:00:00,2016-01-05,3,122.000000,30.228447

In [43]:
df4 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Dominant_Unique_Hue_arc.csv")
df4.pop('Unnamed: 0')
df4.head()

   Number_of_Unique_Hues  Pixels_Belong_To_Dominant_Hue  like_rate
0                    129                         477100   0.009483
1                    157                         380278   0.009501
2                    150                         441260   0.009505
3                    156                         272857   0.009509
4                     98                         224152   0.009520

In [46]:
df5 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Entropy_ARC_Ters.csv")
df5.pop('Unnamed: 0')
df5.head()

    Entropy
0  7.687392
1  7.547853
2  7.208816
3  7.606089
4  7.598047

In [47]:
df6 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\like_rate_segmentation_by_date_arc.csv")
df6.head()

   like_rate_segmentation
0                       1
1                       1
2                       1
3                       1
4                       1

In [48]:
df7 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\michelson_arc.csv")
df7.head()

   michelson_contrast
0            1.000000
1            0.814947
2            1.000000
3            1.000000
4            1.000000

In [50]:
df8 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Wmc_ARC_Ters.csv")
df8.pop('Unnamed: 0')
df8.head()

,Wmc,Wmc2,Wmc3,Wmc4,Wmc5,Wmc6,Wmc7,Wmc8,Wmc9,Wmc10,...,Wmc141,Wmc142,Wmc143,Wmc144,Wmc145,Wmc146,Wmc147,Wmc148,Wmc149,Wmc150
0,2,2,0,1,2,3,4,6,5,10,...,5,3,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2,1,4,5,3,5,3,9,8,16,...,0,0,1,0,0,0,0,0,0,2
4,2,0,0,0,1,0,1,0,0,0,...,13,3,2,1,2,0,0,0,0,2

In [51]:
result = pd.concat([df,df2,df4,df5,df6,df7,df8], axis=1)

In [52]:
result

,Hue,Saturation,dominant_hue_1,dominant_sat_1,dominant_val_1,dominant_hue_2,dominant_sat_2,dominant_val_2,dominant_hue_3,dominant_sat_3,...,Wmc141,Wmc142,Wmc143,Wmc144,Wmc145,Wmc146,Wmc147,Wmc148,Wmc149,Wmc150
0,12.335475,136.705829,20.000000,62.637363,35.686275,23.265306,21.397380,89.803922,22.105263,80.851064,...,5,3,0,0,0,0,0,0,0,1
1,90.150061,123.811073,359.347826,37.551020,96.078431,358.378378,62.011173,70.196078,54.634146,100.000000,...,0,0,0,0,0,1,0,0,0,1
2,87.979490,65.092778,211.500000,53.571429,87.843137,213.975904,35.319149,92.156863,40.000000,2.912621,...,0,0,0,0,0,0,0,0,0,1
3,61.950761,59.766570,200.000000,1.630435,72.156863,170.000000,38.709677,12.156863,240.000000,4.494382,...,0,0,1,0,0,0,0,0,0,2
4,91.531847,31.206398,217.500000,3.347280,93.725490,213.750000,22.857143,54.901961,207.272727,12.359551,...,13,3,2,1,2,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,33.495109,62.682502,197.647059,8.762887,76.078431,38.571429,29.787234,18.431373,35.000000,4.780876,...,3,2,2,2,1,0,2,0,0,1
803,69.265139,10.262431,210.000000,0.840336,93.333333,220.384615,49.523810,41.176471,326.666667,5.421687,...,17,10,14,6,6,7,4,0,2,1
804,92.743739,169.102544,184.000000,5.905512,99.607843,189.073171,96.244131,83.529412,157.500000,9.356725,...,1,0,0,1,0,0,0,1,0,1
805,96.380544,144.372142,192.827586,62.231760,91.372549,195.505618,37.872340,92.156863,198.000000,20.000000,...,2,4,1,3,1,0,2,1,0,1
806,38.671433,21.475158,120.000000,0.406504,96.470588,66.666667,25.000000,14.117647,53.333333,10.227273,...,0,2,1,1,1,0,0,0,0,1

In [59]:
df = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Average_hsv_art.csv")
df.pop('Unnamed: 0')
df2 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\color_palette_and_hue_contrast_art.csv")
df4 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Dominant_Unique_Hue_art.csv")
df4.pop('Unnamed: 0')
df5 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Entropy_ART_Ters.csv")
df5.pop('Unnamed: 0')
df6 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\like_rate_segmentation_by_date_art.csv")
df7 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\michelson_art.csv")
df8 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Wmc_ART_Ters.csv")
df8.pop('Unnamed: 0')
result2 = pd.concat([df,df2,df4,df5,df6,df7,df8], axis=1)
result2.pop('id')

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
           ...
779    1.948080e+18
780    1.947959e+18
781    1.947285e+18
782    1.947179e+18
783    4.287002e+17
Name: id, Length: 784, dtype: float64

In [60]:
result2

,Hue,Saturation,dominant_hue_1,dominant_sat_1,dominant_val_1,dominant_hue_2,dominant_sat_2,dominant_val_2,dominant_hue_3,dominant_sat_3,...,Wmc141,Wmc142,Wmc143,Wmc144,Wmc145,Wmc146,Wmc147,Wmc148,Wmc149,Wmc150
0,21.534362,153.943075,30.789474,78.350515,38.039216,33.658537,19.339623,83.137255,40.487805,62.755102,...,0,0,1,0,0,0,0,0,0,1
1,52.334783,130.735873,5.454545,68.322981,63.137255,34.214876,61.734694,76.862745,14.117647,23.394495,...,0,5,3,1,0,0,0,1,2,2
2,31.583697,109.099321,39.310345,30.851064,36.862745,35.102041,71.359223,80.784314,25.181347,90.610329,...,1,2,2,2,0,0,0,1,1,2
3,87.555771,119.652515,282.222222,14.516129,72.941176,332.876712,85.380117,67.058824,249.375000,21.917808,...,1,1,3,0,0,2,1,1,0,1
4,59.923330,139.148389,0.000000,46.700508,77.254902,1.379310,36.864407,92.549020,344.615385,41.489362,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,114.765995,199.710732,239.750000,98.765432,95.294118,280.975610,52.564103,30.588235,230.364964,78.735632,...,0,1,1,0,0,1,0,0,0,2
780,70.635757,75.090774,234.705882,15.315315,87.058824,4.324324,90.612245,96.078431,222.580645,40.789474,...,2,2,0,1,1,0,2,0,0,1
781,65.107659,68.111993,36.000000,5.813953,33.725490,44.427481,61.792453,83.137255,2.352941,100.000000,...,0,0,0,0,0,0,0,0,0,1
782,96.426978,145.432316,210.000000,15.841584,79.215686,183.750000,75.294118,33.333333,211.456311,66.883117,...,0,1,1,0,4,1,1,0,0,1
783,55.710146,109.078722,42.481752,66.183575,81.176471,354.000000,45.454545,8.627451,11.718750,76.190476,...,3,2,1,2,1,0,0,0,0,2

In [61]:
result.to_csv(r"C:\Users\Aziz\Desktop\Github\CSV\MergedFeatures_ARC.csv")
result2.to_csv(r"C:\Users\Aziz\Desktop\Github\CSV\MergedFeatured_ART.csv")